#bejelentkezes{
    background-color: #1f2938;
    width: 600px;
    text-align: left;
    padding: 30px 30px 20px;
    border-radius: 16px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}

#bejelentkezes input{
    width: 100%;
}
