@font-face {
    font-family: bai;
    src: url(fonts/bai/baijamjuree/BaiJamjuree-Regular.ttf);
}

* {
    font-family: "bai";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(20, 69, 125);
}

body main nav {
    padding: 40px;
    background-color: rgb(13, 40, 64);
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 40px;
    border-bottom: 4px solid rgb(255, 231, 33);
}

a {
    text-decoration: none;
}

#menuLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#menuRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#menuRight div a:hover {
    color: rgb(255, 231, 33);
    border-bottom: 4px solid rgb(255, 231, 33);
}

body main nav img {
    width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid rgb(255, 231, 33);
    width: 100%;
    height: auto;
}

#headerLeft {
    width: 40%;
    padding: 40px;
}

#head2 {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}
#head3 {
    width: 100%;
}
#head3 img {
    width: 100%;
}
#head4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
}

#head4 h1 {
    color: rgb(255, 231, 33);
}

#head5 {
    font-size: 25px;
}

#headerRight video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

#headerRight {
    border-left: 4px solid rgb(255, 231, 33);
    object-fit: fill;
    width: 60%;
}

#history {
    background-color: rgb(13, 40, 64);
    border-bottom: 4px solid rgb(255, 231, 33);
    display: flex;
    justify-content: space-between;
}

#historyLeft {
    width: 20%;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}
#historyLeft img {
    width: 100%;
    border: 4px solid rgb(255, 231, 33);
}
#historyRight{
    padding: 40px;
    width: 80%;
}
#hsection {
    display: flex;
    justify-content: center;

}
#hleft{
    padding-right: 40px;
    width: 60%;
}
#hleft p{
    font-size: 25px;
}
#hright{
    width: 40%;
}
#hright p{
    font-size: 25px;
}
#hright h2{
    color: rgb(255, 231, 33);
}
#htop{
    padding-bottom: 40px;
}
#htop h1{
    margin-bottom: 40px;
    font-size: 40px;
    border-bottom: 4px solid rgb(255, 231, 33);
}
#htop h2{
    font-size: 30px;
}

@media screen and (max-width: 1400px) {
    #head2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }
    #head3{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 1000px) {
}
