@font-face {
    font-family: bai;
    src: url(fonts/bai/baijamjuree/BaiJamjuree-Regular.ttf);
}

* {
    font-family: "bai";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    user-select: none;
}

body {
    background-color: rgb(20, 69, 125);
}

nav {
    display: flex;
    padding: 20px;
    background-color: rgb(13, 40, 64);
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 40px;
    border-bottom: 4px solid rgb(255, 231, 33);
}

a {
    text-decoration: none;
}

#menuLeft {
    display: flex;
    align-items: center;
    gap: 30px;
}
#menuLeft div{
    display: flex;
    align-items: center;
}

#menuRight {
    display: flex;
    align-items: center;
    gap: 30px;
}

#menuRight div a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 231, 33);
    text-decoration-thickness: 4px;
}

#start {
    color: rgb(255, 231, 33);
}

body main nav img {
    width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid rgb(255, 231, 33);
    width: 100%;
}

#headerLeft {
    width: 40%;
    padding: 40px;
}

#head2 {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}
#head3 {
    width: 100%;
}
#head3 img {
    width: 100%;
}
#head4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
}

#head4 h1 {
    color: rgb(255, 231, 33);
}

#head5 {
    font-size: 25px;
}

#headerRight video {
    height: 100%;
    object-fit: cover;
    width: 100%;
    user-select: none;
}

#headerRight {
    border-left: 4px solid rgb(255, 231, 33);
    object-fit: fill;
    width: 60%;
}

#history {
    background-color: rgb(13, 40, 64);
    border-bottom: 4px solid rgb(255, 231, 33);
    padding: 40px;
}
#history_content {
    display: flex;
    justify-content: space-between;
}
#history_left {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding-right: 40px;
}
#history_left h2 {
    text-align: center;
    border-bottom: 4px solid rgb(255, 231, 33);
    width: 100%;
}
#history_left img {
    width: 100%;
    border: 4px solid rgb(255, 231, 33);
}
#history_right {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#hsection {
    display: flex;
    justify-content: center;
}
#hleft {
    padding-right: 40px;
    width: 100%;
}
#hleft p {
    font-size: 25px;
}
#hright {
    width: 100%;
}
#hright p {
    font-size: 25px;
}
#hright h2 {
    color: rgb(255, 231, 33);
}
#htop {
    padding-bottom: 40px;
}
#history_title {
    padding-bottom: 40px;
}
#history_title h1 {
    margin-bottom: 40px;
    font-size: 40px;
    border-bottom: 4px solid rgb(255, 231, 33);
    text-align: center;
}
#history_title h2 {
    font-size: 30px;
}
#mayor {
    float: right;
}
#transport {
    padding: 40px;
    border-bottom: 4px solid rgb(255, 231, 33);
    width: 100%;
}
#transportTitle {
    text-align: center;
    font-size: 40px;
    border-bottom: 4px solid rgb(255, 231, 33);
}
#cards {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card {
    width: 100%;
    border: 4px solid rgb(255, 231, 33);
    background-color: rgb(13, 40, 64);
    text-align: center;
}
.card h1 {
    padding: 40px;
    font-size: 25px;
}
.card p {
    padding: 40px;
    text-align: left;
    font-size: 25px;
}
.cardimg {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.card img {
    width: 100%;
    border: 4px solid rgb(255, 231, 33);
}
#districts {
    background-color: rgb(13, 40, 64);
    padding: 40px;
    border-bottom: 4px solid rgb(255, 231, 33);
}
#districtsTitle {
    text-align: center;
    font-size: 40px;
    border-bottom: 4px solid rgb(255, 231, 33);
}
#descriptions {
    width: 100%;
}
.areas {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
#cent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/center.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 4px solid rgb(255, 231, 33);
    font-size: 40px;
    font-weight: bold;
}
.areas button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}
.areas button:hover {
    background-color: rgb(255, 231, 33);
    cursor: pointer;
    color: black;
}
#wats {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/watson.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 4px solid rgb(255, 231, 33);
    font-size: 40px;
    font-weight: bold;
}
#hey {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/heywood.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 4px solid rgb(255, 231, 33);
    font-size: 40px;
    font-weight: bold;
}
#west {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/west.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 4px solid rgb(255, 231, 33);
    font-size: 40px;
    font-weight: bold;
}
#santo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/santo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 4px solid rgb(255, 231, 33);
    font-size: 40px;
    font-weight: bold;
}
#pacific {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/pacifica.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 4px solid rgb(255, 231, 33);
    font-size: 40px;
    font-weight: bold;
}
#out {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/out.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 4px solid rgb(255, 231, 33);
    font-size: 40px;
    font-weight: bold;
}
#dog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/dog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 4px solid rgb(255, 231, 33);
    font-size: 40px;
    font-weight: bold;
}
@media screen and (max-width: 1500px) {
    #head2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }
    #head3 {
        display: flex;
        justify-content: center;
    }
    #history_left {
        width: 30%;
    }
    #history_right {
        width: 70%;
    }
    #hleft {
        width: 65%;
    }
    #hright {
        width: 35%;
    }
}
@media screen and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column-reverse;
    }
    #head3 img {
        width: 250px;
    }
    #headerLeft {
        width: 100%;
    }
    #headerRight {
        width: 100%;
        border-left: 0;
    }
    #headerRight video {
        object-fit: cover;
        width: 100%;
        user-select: none;
        border-bottom: 4px solid rgb(255, 231, 33);
    }
    #history {
        width: 100%;
    }
    #history_content {
        display: flex;
        flex-direction: column;
    }
    #history_left {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 40px;
    }
    #history_right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    #hleft {
        padding-right: 0;
        padding-bottom: 40px;
        width: 100%;
    }
    #hright {
        width: 100%;
    }
    #cards {
        display: flex;
        flex-direction: column;
    }
    .areas {
        display: flex;
        flex-direction: column;
    }
}

.topnav {
    overflow: hidden;
}

.topnav .icon {
    display: none;
}

#hamburger {
    display: none;
}

@media screen and (max-width: 1200px) {
    #hamburger {
        display: block;
    }
    #menuRight {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        display: flex;
        flex-direction: column;
    }
    .topnav.responsive #menuLeft {
        padding-bottom: 20px;
    }
    .topnav.responsive #menuRight {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 4px solid rgb(255, 231, 33);
        padding-top: 20px;
        gap: 10px;
    }

    .topnav.responsive #hamburger {
        position: absolute;
        right: 20px;
    }
}
